body{
    background-color: rgb(0, 255, 42);
}
#first{
    background-color: blueviolet;
    color: azure;
}
#second{
    background-color: brown;
    color: cornsilk;

}
.container{
    background-color: black;
    color: antiquewhite;
}